<section>
  <form class="form-inline" role="form">
    <label for="summedUp" class="mb-2 mr-sm-2">מסוכם:</label>
    <input type="number" class="form-control mb-2 mr-sm-2" id="summedUp" placeholder="חובה">
    <label for="UpToTheSum" class="mb-2 mr-sm-2">עד סכום:</label>
    <input type="number" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="">
    <label for="summedUp" class="mb-2 mr-sm-2">חיוב הפקדה:</label>
    <div class="dropdown">
      <button class="dropbtn">בחר</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </form>
</section>