<nav>
  <ul>
    <li><a routerLink="./countSectionTestA" routerLinkActive="active"  >תנועה עתידית </a></li>
    <li><a routerLink="./trafficInInstallments" routerLinkActive="active"> תנועה בתשלומים</a></li>
    <li><a routerLink="./countSectionTestC" routerLinkActive="active"> תנועה ידנית</a></li>
    <li><a routerLink="./countSectionTestD" routerLinkActive="active">   קליטת קובץ אשראי</a></li>
    <li><a routerLink="./countSectionTestE" routerLinkActive="active"> קליטת קובץ תנועות בנק</a></li>
  </ul>
</nav>
<router-outlet ></router-outlet>
